<html>
<head>
    <script src="https://cdn.smooch.io/smooch.min.js"></script>
    <script>
        Smooch.init({appToken: '{{appToken}}' });
    </script>
    <style>#sk-holder #sk-container #sk-conversation .sk-logo {
    display: none!important;}
    </style>
</head>
<body>
    <h2>Trump-Bot</h2>
</body>
</html>